#img-bg{
    background-image: url('https://i.pinimg.com/564x/e5/66/43/e566439ce6be01df3d24d602064f66c1.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
}