#img-bg{    
    min-height: 695px;
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
    display: flex;
    justify-items: center;   
}

.m-20{
    margin-left: 20px;
    background-color: blueviolet;
    color: #fff;
}

.btn:hover{
    background-color: darkgray;
    color: black;
}
.box{
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgba(100, 15, 160, 0.371);
    border-radius: 5px;

}

input{
    font-size: 12px;
}

select{
    font-size: 12px;
}