.bg{
    background-image   : url(https://storage.ko-fi.com/cdn/useruploads/display/78344505-dc22-4750-876b-a689ca7669b1_thingsthatroll.gif);
    min-height         : 652px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    display            : flex;
    align-items        : center;
    opacity            : 0, 2;

}
.text{
    color      : aliceblue;
    font-family: 'VT323', monospace;
    font-size  : 35pt;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.text1{
    color      : rgb(0, 0, 0);
    font-family: 'VT323', monospace;
    font-size  : 35pt;
    font-weight: bold;
    
}

/*botao editar e apagar de tema*/
.btn {
    font-family   : 'VT323', monospace;
    font-size     : 15pt;
    font-weight   : bold;
    margin-right  : 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition    : 0.5s;
    line-height   : 30px;
}
.btn-cadastro{
    background-color: rgba(255, 251, 0, 0.877);
    color: black;
}


.btn-cadastro:hover{
    background      : #f34534 url(../../assets/img/pixel2.png);
    color           : #ffff;
    transition-delay: 0.5s;
    background-size : auto;
    animation       : animate 0.8s steps(8) forwards;
}

.btn-edit:hover {
    background      : #4ce5f5 url(../../assets/img/pixel.png);
    color           : #ffff;
    transition-delay: 0.5s;
    background-size : auto;
    animation       : animate 0.8s steps(8) forwards;
}

.btn-delete:hover{
    background      : #f34534 url(../../assets/img/pixel2.png);
    color           : #ffff;
    transition-delay: 0.5s;
    background-size : auto;
    animation       : animate 0.8s steps(8) forwards;
}



@keyframes animate {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -480px;
    }

}


