
<body>
    <!--barra de navegação MENU -->
    <nav class="navbar navbar-expand-lg navbar-light ">
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home Page<span class="sr-only">(página atual)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a style="color: black;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              ?
            </a>
           
          </li>
          <li class="nav-item dropdown">
            <a style="color: black;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              ?
            </a>
           
  
          <li class="nav-item dropdown">
            <a style="color: black;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
             ?
            </a>
               
  
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
      </div>
    </nav>
    <!--fim menu-->
  

<div class="container-fluid linha">
   
    <div class="row bg align-items-center">
        <div class="col-md-9">

            <div class="row d-flex justify-content-center ">
                <div class="col-md-6 txt">
                    <h1 class="fs-75">Seja bem vinde!</h1>
                    <h5 class="fs-20">Expresse aqui suas opiniões e pensamentos!</h5>
                </div>
            </div>

        </div>

       
    </div>
</div>


  <!--rodapé-->
  <footer class="page-footer font-small bg-footer pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-me nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/esyamamoto" target="_blank" >
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/erikasyamamoto/" target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/erika_sayurii/" target="_blank" >
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/e.sayuri.yama" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

 <!-- Copyright -->
 <div class="footer-copyright bg-copyright text-center py-3" style="background-color: rgba(0, 0, 0, 0.8); color: #FFF;">
    © 2022 Copyright:
    <a class="text-copyright" style="color: #FFF;" href="https://mdbootstrap.com/">Erika Sayuri</a>
  </div>
  <!-- Copyright -->

</footer>

  <!--rodapé-->
</body>
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS --> 


