@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.bg-inicio {
    background-image   : url(https://thumbs.gfycat.com/HugeVengefulAmericanbittern-max-1mb.gif);
    min-height         : 652px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    display            : flex;
    align-items        : center;
    opacity            : 0, 2;

}

.txt {
    color      : aliceblue;
    font-family: 'VT323', monospace;
    font-size  : 35pt;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.fs-50 {
    font-size: 45pt;

}

.fs-20 {
    font-size: 15pt;
}


.btn-1 {
    font-family   : 'VT323', monospace;
    font-size     : 15pt;
    font-weight   : bold;
    
    text-transform: uppercase;
    letter-spacing: 2px;
    transition    : 0.5s;
    position      : absolute;
    flex-direction: column;
    text-align    : center;
    top           : 100px;
    line-height   : 30px;
    backdrop-filter: blur(8px);

    -webkit-backdrop-filter: blur(8px);
}

.btn-2 {
    font-family   : 'VT323', monospace;
    font-size     : 15pt;
    font-weight   : bold;
  
    margin-top    : 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition    : 0.5s;
    position      : absolute;
    flex-direction: column;
    text-align    : center;
    top           : 100px;
    line-height   : 30px;
    backdrop-filter: blur(8px);

    -webkit-backdrop-filter: blur(8px);
}


.btn-1:hover {
    background      : #4ce5f5 url(../../assets/img/pixel.png);
    color           : #ffff;
    transition-delay: 0.5s;
    background-size : auto;
    animation       : animate 0.8s steps(8) forwards;
}
.btn-2:hover {
    background      : #f34534 url(../../assets/img/pixel2.png);
    color           : #ffff;
    transition-delay: 0.5s;
    background-size : auto;
    animation       : animate 0.8s steps(8) forwards;
}



@keyframes animate {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -480px;
    }

}

.gameboy {
    width     : 500px;
    margin-top: 0;
}

.navs-tabs {
    font-family: 'VT323', monospace;
    color      : #4ce5f5;
    font-weight: bold;
    font-size  : 14pt;
}

.modal-bg {
    box-shadow     : 20px 20px 58px rgba(82, 61, 131, 0.25);
    border-top     : 1px solid rgba(82, 61, 131, 0.5);
    border-right   : 1px solid rgba(82, 61, 131, 0.5);
    backdrop-filter: blur(8px);
}

.bg-post {

    box-shadow         : 20px 20px 58px rgba(82, 61, 131, 0.25);
    border-top         : 1px solid rgba(82, 61, 131, 0.5);
    border-right       : 1px solid rgba(82, 61, 131, 0.5);
    backdrop-filter    : blur(8px);
    background-image   : url(https://thumbs.gfycat.com/HugeVengefulAmericanbittern-max-1mb.gif);
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.btn-confirm {
    font-size: 15pt;
}

.btn-cancel {
    font-size: 15pt;
}



.btn-11:hover {
    background      : #4ce5f5 url(../../assets/img/pixel.png);
    color           : #ffff;
    transition-delay: 0.5s;
    background-size : auto;
    animation       : animate 0.8s steps(8) forwards;
}
.btn-22:hover {
    background      : #f34534 url(../../assets/img/pixel2.png);
    color           : #ffff;
    transition-delay: 0.5s;
    background-size : auto;
    animation       : animate 0.8s steps(8) forwards;
}



@keyframes animate {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -480px;
    }

}






.modal-title {
    font-size  : 35pt;
    color      : aliceblue;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.form-group {
    font-size  : 20pt;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}

.cadastro-tema {
    text-decoration: none;
    color          : #4ce4f5;
}

.btn-confirm:hover {
    background-color: #4ce5f5c0;
    color           : black;
}